alembic==1.14.0 "Database migration tool"
bcrypt==4.2.0 "Password hashing library"
blinker==1.9.0 "Event dispatching library"
click==8.1.7 "Command line interface creation kit"
colorama==0.4.6 "Cross-platform colored terminal text"
dominate==2.9.1 "HTML generation library"
Flask==3.0.3 "Web framework"
Flask-Bcrypt==1.0.1 "Flask extension for bcrypt hashing"
Flask-Bootstrap==3.3.7.1 "Flask extension for Bootstrap"
Flask-Login==0.6.3 "Flask extension for user session management"
Flask-Mail==0.10.0 "Flask extension for sending email"
Flask-Migrate==4.0.7 "Flask extension for database migration"
Flask-SQLAlchemy==3.1.1 "Flask extension for SQLAlchemy"
Flask-WTF==1.2.2 "Flask extension for WTForms"
email-validator==2.2.0 "Email validation library"
itsdangerous==2.2.0 "Data signing and token generation library"
Jinja2==3.1.4 "Template engine"
Mako==1.3.6 "Template engine"
MarkupSafe==3.0.2 "HTML/XML string handling library"
python-dotenv==1.0.1 "Python dotenv file parser"
SQLAlchemy==2.0.36 "SQL toolkit and Object-Relational Mapping library"
typing_extensions==4.12.2 "Type hinting library"
visitor==0.1.3 "Visitor pattern library"
Werkzeug==3.1.3 "WSGI utility library"
WTForms==3.2.1 "Web form handling library"
